body {
	margin: 0;
	font-family: 'Cabin', sans-serif;
	background-color: RGB(162, 187, 217);
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: RGB(48, 88, 140);
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: RGB(216, 98, 106);
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

img {
	align-content: center;
}

figcaption {
	color: aliceblue;
}

.grid-container {
  display: grid;
  grid-template: 150px / auto auto auto;
  grid-gap: 10px;
  padding: 30px;
}

.grid-container > div {
  text-align: center;
  padding: 40px;
}